/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 


 */
/* START_HIGHLIGHT */
/* line 19, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}
/* line 27, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
#banner img {
  float: left;
}

/* line 32, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

/* line 41, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
#columns {
  background: #141;
}
/* line 44, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
#columns #main {
  margin-left: 17em;
  padding: 1em;
  background: white;
}
/* line 50, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
#columns #side {
  float: left;
  padding: 1em 2em;
  width: 13em;
  background: #141;
}
/* line 56, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
#columns #side form, #columns #side div {
  display: inline;
}
/* line 60, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
#columns #side input {
  font-size: small;
}
/* line 65, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
#columns #side #cart {
  font-size: smaller;
  color: white;
}
/* line 69, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
#columns #side #cart table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}
/* line 76, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
#columns #side ul {
  padding: 0;
}
/* line 78, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
#columns #side ul li {
  list-style: none;
}
/* line 80, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
#columns #side ul li a {
  color: #bfb;
  font-size: small;
}

/* line 90, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
.depot_form fieldset {
  background: #efe;
}
/* line 92, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
.depot_form fieldset legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}
/* line 100, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
.depot_form form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}
/* line 108, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
.depot_form form select, .depot_form form textarea, .depot_form form input {
  margin-left: 0.5em;
}
/* line 111, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
.depot_form form .submit {
  margin-left: 4em;
}
/* line 114, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
.depot_form form br {
  display: none;
}

/* line 120, C:/Sites/rails_projects/depot/app/assets/stylesheets/application.css.scss */
.locale {
  float: right;
  margin: -0.25em 0.1em;
}

/* END_HIGHLIGHT */
/* line 6, C:/Sites/rails_projects/depot/app/assets/stylesheets/carts.css.scss */
.carts .item_price, .carts .total_line, #side #cart .item_price, #side #cart .total_line {
  text-lign: right;
}
/* line 9, C:/Sites/rails_projects/depot/app/assets/stylesheets/carts.css.scss */
.carts .total_line .total_cell, #side #cart .total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}
/* START_HIGHLIGHT */
/* line 7, C:/Sites/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store {
  /* An entry in the store catalog */
}
/* line 8, C:/Sites/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store h1 {
  margin: 0;
  padding-bottom: 0.5em;
  font: 150% sans-serif;
  color: #226;
  border-bottom: 3px dotted #77d;
}
/* line 17, C:/Sites/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
  min-height: 100px;
}
/* line 23, C:/Sites/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: absolute;
}
/* line 30, C:/Sites/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store .entry h3 {
  font-size: 120%;
  font-family: sans-serif;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 2px;
  color: #227;
}
/* line 39, C:/Sites/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store .entry p, .store .entry div.price_line {
  margin-left: 100px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}
/* line 44, C:/Sites/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store .entry p form, .store .entry p div, .store .entry div.price_line form, .store .entry div.price_line div {
  display: inline;
}
/* line 49, C:/Sites/rails_projects/depot/app/assets/stylesheets/store.css.scss */
.store .entry .price {
  color: #44a;
  font-weight: bold;
  margin-right: 3em;
}

/* END_HIGHLIGHT */
