<h1>Декоративні свічки на замовлення +38(067)60-60-195</h1>


<p>Виготовлення свічок є давнім моїм захопленням. Кожна нова свічка є результатом ручної роботи. Філігранним, відточеним рухом при створенні цього витвору мистецтва, кожна нова свічка приймає свою неповторну форму і навіть можна сказати свій дух домашнього затишку та теплоти. Яскраві кольори надають свічці веселого, грайливого настрою та наповнять Вашу оселю святковим настроєм. Пастельні кольори створять свічку, яка чудово підійде для романтичної атмосфери.</p>
<p>Виготовляти свічки мені допомагають моя родина. Це саме той випадок, коли вся родина має однакове хоббі, в результаті якого, створюються справжні шедеври.</p>





 <%=link_to(image_tag("7.jpg"), image_path("7.jpg"), class: "image-popup-vertical-fit") %> 


<h1>За домовленістю можлива доставка свічок за допомогою компаній Нова Пошта або Укрпошта. Також Ви можете знайти наші свічки на різноманітних ярмарках в місті Черкаси або в місті Шпола</h1>


